.env
__pycache__/
*.py[cod]
*.pyo
*.pyc
.env
*.env
.venv/
.DS_Store
.pytest_cache/
web_scraper/credentials.json
classifier/catboost_info/
classifier/checkpoints/
classifier/results/
.vscode/
*.log
*.tmp
*.bak