aiohttp==3.12.12
beautifulsoup4==4.12.2
boilerpy3==1.0.7
catboost==1.2.8
datasets== 3.6.0           
dateparser==1.2.1
feedparser==6.0.11
google-api-python-client==2.174.0
gspread==6.2.1
huggingface-hub==0.34.2
lxml==5.4.0                
matplotlib==3.9.4
newspaper3k==0.2.8
nltk==3.9.1
numpy==1.26.4
openai==1.88.0
pandas==2.3.1               
playwright==1.53.0
plotly==6.2.0
python-dotenv==1.1.0
scikit-learn==1.6.1
seaborn==0.13.2
sentence-transformers==4.1.0
spacy==3.8.7
tldextract==5.3.0
torch==2.2.2
transformers==4.54.0
tqdm==4.67.1                
frontend==0.0.3
PyMuPDF==1.26.3
pytesseract==0.3.13
Pillow==11.3.0
pdf2image==1.17.0
